.menu{
  text-align: center;
  &-icon{
    font-size: 30px;
    padding: 10%;
  }
}
.homeblock{
  &-title{
    text-align: center;
  }
  &-item{
    padding:3%;
    --background:rgb(241 241 241);
  }
  &_usuario{
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 0;
    --padding-end: 0;
    &_grid{
      padding: 0;
      &-row{
        border-bottom: solid .5px black;
      }
      &-names{
        font-size: 13px;
        text-transform: capitalize;
      }
      &-centercol{
        text-align: center;
      }
      &-icon{
        font-size: 35px;
        color:red;
      }
      &-label{
        font-size: 15px;
      }
    }
  }
}
.lastcombo{
  padding-bottom:6%;
}
.bd-complete{
  z-index: 20;
}
.data-error{
  color: red;
  font-size: 12px;
}
.no-data{
  font-size: 20px;
  text-align: center;
  margin: 10%;
}